.container-fluid {
  text-align: center;
}

h1 {
  text-shadow: 0px -3px 5px darkgreen;
  font-weight: bold;
}
h2 {
  text-shadow: 0px -1px 3px darkgreen;
}

ol {
  list-style-position:inside;
  padding-right: 30px;
}

button {
  width: 40%;
  max-width: 250px;
  background-color: black;
  color: white;
  border: 2px solid darkgreen;
  border-radius: 5px;
  padding: 10px;
  transition-duration: 0.4s;
}

button:hover {
    background-color: darkgreen; /* Green */
    color: white;
}

body {
  background-color: black;
}

.well {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 600px;
  border-radius: 5px;
}

.jumbotron {
  padding-bottom: 24px;
  background-color: #f5f5f5;
  margin-top: 14px;
}

li {
  font-size: 16px;
}

#result {
  display: none;
  font-size: 16px;
  color: white;
}
